
body {
  background-color:#fff;
  background-repeat:repeat-x;
  background-image: url(../img/background.png);
  background-position:top;
  color:#eee;
  font-size:16px;
}

#updates-feed h2 {
    color: #16a085;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 0.2em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
    font-size: 1.4em;
}
#updates-feed h2, .index-section h2 {
    font-size: 1.3em;
}

#pageheader {
  /*max-width:800px;*/
  line-height:1.6em;
  /* background:rgba(255,255,255,1.0);*/
  /* border-top:5px solid #660000; */
  color:#000;
}

.sublogo p {
  margin:0;

}


#pagefooter {
    width:100%;
  margin-top: 0px ;
  margin-bottom:50px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 0.5em 2em;
  line-height:1.6em;
  max-width:1200px;
  background:rgba(255,255,255,1.0);
  border-top:5px solid #004494;
  color:#000;
}

#content, #content-homepage {
  margin-top: 0px ;
  margin-bottom: 0px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 0em 2em;
  max-width: 1200px;
  line-height: 1.6em;
  background:rgba(255,255,255,1);
  color:#000;
}

#content a:hover, #content-homepage a:hover { color:#FF4136; }
/*#content a { color:#8e71ff; text-decoration: none; }*/
#content a, #content-homepage a { color:#107896; text-decoration: none; }
#content-homepage {
  border-top:5px solid #004494;
  margin-top: 50px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom:0px;
  padding: 2em 2em;
}


header {
}
header h1 {
  font-size:20pt;
  color:#000;
  font-weight:lighter;
  margin:0;
  padding:0;

}
header a{
  text-decoration: none;

}
header a .logo{
  transition: color 0.2s ease-out;

}
header a:hover .logo{
  color:#6666ee;

}
.logo {
	/* text-align:right;*/
	margin-bottom:0.5em;
}
.logo-tv {
    /*"#0099d4"*/
  background: linear-gradient(to right, #333399, #0066d4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: lighter;
  margin-top: 0;
  position: relative;
  display:inline-block;
}


