<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate"  type="application/rss+xml" title="All posts" href="{{ '/feed.xml' | relative_url }}">
  <link rel="alternate"  type="application/rss+xml" title="Articles" href="{{ '/feed-articles.xml'   | relative_url }}">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css">
  {{ site.feed_meta }}
</head>
